

.table-services table { margin: 0 0 30px; border-collapse:collapse; width: 100%;  }
.table-services table thead tr th, 
.table-services table tr td { height: 50px; padding: 0 20px 0 20px; vertical-align: middle; text-align: center; }
.table-services table thead tr hd {  }
.table-services table thead tr th { background: #4cae4c; color: #fff; }
.table-services table  tr td { background: #f8f7f6; color: #445859; border-bottom: 1px solid #fff; }
.table-services table tr:nth-child(even) td { background: #f3f2f1 }
.table-services table tfoot tr td { background-color: #f1efed; color: #49c4be; font-weight: bold; padding: 0; text-align: center; }
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    margin-left: 29px;
    border-top-color: #ddd;
}
.panel-group {
    margin-bottom: 0px !important;
}
.table>thead:first-child>tr:first-child>th {
    background: #4cae4c !important;
    padding: 16px !important;
    color: white !important;
    border-top: 0 !important;
}
.table.table-bordered.dataTable tbody td {
    height: 30px !important;
    border-bottom-width: 0 !important;
}
.panel-default>.panel-heading {
    background-color: #333333 !important;
}.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #000 !important;
}